{%- if name == 'search' -%}
  <svg data-name="icons/small/location copy" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
    <title>Search</title>
    <rect data-name="icons/nav/search background" width="25" height="25" fill="none"/>
    <path data-name="Combined Shape" d="M22.171,24.512l-5.357-5.392a1.668,1.668,0,0,1-.485-1.222,9.927,9.927,0,0,1-6.316,2.263,10.081,10.081,0,1,1,10.013-10.08,10.074,10.074,0,0,1-2.118,6.194,1.646,1.646,0,0,1,1.249.487l5.357,5.393a1.674,1.674,0,0,1,0,2.358,1.649,1.649,0,0,1-2.343,0ZM1.888,10.081a8.122,8.122,0,1,0,8.125-8.125A8.134,8.134,0,0,0,1.888,10.081Z" transform="translate(0 0)" fill="currentColor"/>
    <path d="M5.313,0a.938.938,0,0,1,0,1.875A3.443,3.443,0,0,0,1.875,5.313.938.938,0,0,1,0,5.313,5.318,5.318,0,0,1,5.313,0Z" transform="translate(4.701 4.767)" fill="currentColor"/>
  </svg>
{%- elsif name == 'pin' -%}
  <svg style="enable-background:new 0 0 10.134 15.626;" version="1.1" viewBox="0 0 10.134 15.626" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Store Locator</title>
    <path fill="currentColor" d="M7.873,0.853c-1.705-1.137-3.908-1.137-5.612,0C0.065,2.316-0.638,5.167,0.626,7.484l4.441,8.142l4.441-8.142  C10.772,5.167,10.07,2.316,7.873,0.853z M8.631,7.006l-3.563,6.533L1.504,7.006C0.49,5.146,1.053,2.859,2.816,1.685  C3.5,1.229,4.283,1,5.067,1s1.567,0.228,2.251,0.684C9.081,2.859,9.645,5.146,8.631,7.006z"/>
    <path fill="currentColor" d="M5.067,2.083c-1.378,0-2.5,1.122-2.5,2.5s1.122,2.5,2.5,2.5s2.5-1.122,2.5-2.5S6.446,2.083,5.067,2.083z M5.067,6.083  c-0.827,0-1.5-0.673-1.5-1.5s0.673-1.5,1.5-1.5s1.5,0.673,1.5,1.5S5.894,6.083,5.067,6.083z"/>
  </svg>
{%- elsif name == 'cart' -%}
  <svg data-name="Layer 4" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <title>Cart</title>
    <path fill="currentColor" d="M40,12H35V10.7C35,5.9,30.5,2,25,2S15,5.9,15,10.7V12H10a2,2,0,0,0-2,2V46a2,2,0,0,0,2,2H40a2,2,0,0,0,2-2V14A2,2,0,0,0,40,12ZM19,10.7C19,8.1,21.7,6,25,6s6,2.1,6,4.7V12H19V10.7ZM38,44H12V16h3v2a2,2,0,0,0,4,0V16H31v2a2,2,0,0,0,4,0V16h3V44Z"/>
  </svg>
{%- elsif name == 'instagram' -%}
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>Instagram</title>
    <path d="M17.6471 0H6.35294C2.84431 0 0 2.84431 0 6.35294V17.6471C0 21.1557 2.84431 24 6.35294 24H17.6471C19.332 24 20.9479 23.3307 22.1393 22.1393C23.3307 20.9479 24 19.332 24 17.6471V6.35294C24 2.84431 21.1557 0 17.6471 0ZM22.5882 17.6471C22.5882 20.376 20.376 22.5882 17.6471 22.5882H6.35294C3.624 22.5882 1.41176 20.376 1.41176 17.6471V6.35294C1.41176 3.624 3.624 1.41176 6.35294 1.41176H17.6471C20.376 1.41176 22.5882 3.624 22.5882 6.35294V17.6471Z" fill="currentColor"/>
    <path d="M12.0006 6.35303C8.88179 6.35303 6.35352 8.8813 6.35352 12.0001C6.35352 15.1189 8.88179 17.6471 12.0006 17.6471C15.1194 17.6471 17.6476 15.1189 17.6476 12.0001C17.6476 10.5024 17.0527 9.06604 15.9937 8.00701C14.9346 6.94798 13.4983 6.35303 12.0006 6.35303ZM12.0006 16.2354C9.66149 16.2354 7.76528 14.3392 7.76528 12.0001C7.76528 9.661 9.66149 7.76479 12.0006 7.76479C14.3397 7.76479 16.2359 9.661 16.2359 12.0001C16.2359 13.1234 15.7897 14.2006 14.9954 14.9949C14.2011 15.7892 13.1238 16.2354 12.0006 16.2354Z" fill="currentColor"/>
    <path d="M18.3532 4.23535C17.5735 4.23535 16.9414 4.86742 16.9414 5.64712C16.9414 6.42681 17.5735 7.05888 18.3532 7.05888C19.1329 7.05888 19.7649 6.42681 19.7649 5.64712C19.7649 4.86742 19.1329 4.23535 18.3532 4.23535Z" fill="currentColor"/>
  </svg>
{%- elsif name == 'facebook' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
    <title>Facebook</title>
    <g data-name="Group 5" transform="translate(-905 -329)">
      <g data-name="icons/social/facebook" transform="translate(905 329)">
        <rect data-name="icons/social/facebook background" width="30" height="30" fill="none"/>
        <path d="M16,30V18.348H12.121V13.862H16V10.513a5.835,5.835,0,0,1,1.607-4.42,5.843,5.843,0,0,1,4.219-1.54q2.076,0,3.482.134V8.772H22.9a2.321,2.321,0,0,0-1.808.6,2.489,2.489,0,0,0-.4,1.607v2.879h4.487l-.6,4.487H20.692V30h7.634a1.575,1.575,0,0,0,1.205-.5A1.663,1.663,0,0,0,30,28.326V1.674A1.575,1.575,0,0,0,29.5.469,1.663,1.663,0,0,0,28.326,0H1.674A1.606,1.606,0,0,0,0,1.674V28.326A1.663,1.663,0,0,0,.469,29.5a1.575,1.575,0,0,0,1.205.5Z" fill="currentColor"/>
      </g>
    </g>
  </svg>
{%- elsif name == 'link' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <title>LinkedIn</title>
    <g data-name="Group 1" transform="translate(0)">
      <path data-name="Combined Shape" d="M5.212,20a5.459,5.459,0,0,1-3.529-1.678A5.46,5.46,0,0,1,0,14.788,4.672,4.672,0,0,1,1.428,11.22L5.064,7.584A4.672,4.672,0,0,1,8.631,6.161,5.461,5.461,0,0,1,12.16,7.84,6.106,6.106,0,0,1,13.242,9.3l-.847.847a1.289,1.289,0,0,1-.925.434l-.063,0a1.328,1.328,0,0,1-.269-.044l-.058-.015A3.588,3.588,0,0,0,10.4,9.6,3,3,0,0,0,8.5,8.64a2.193,2.193,0,0,0-1.683.7L3.183,12.976a2.193,2.193,0,0,0-.7,1.683,3,3,0,0,0,.955,1.9,3,3,0,0,0,1.9.955,2.192,2.192,0,0,0,1.683-.7l2.335-2.334a5.769,5.769,0,0,0,1.825.409q.142.007.283.008a5.365,5.365,0,0,0,1.085-.111c-.045.05-.088.1-.136.148L8.78,18.572A4.672,4.672,0,0,1,5.418,20Q5.316,20,5.212,20Zm6.011-5.881A5.6,5.6,0,0,1,7.6,12.4a6.248,6.248,0,0,1-1.158-1.583l.923-.923A1.439,1.439,0,0,1,8.4,9.415h.066a1.539,1.539,0,0,1,.364.068l.048.015a3.448,3.448,0,0,0,.681.945,2.865,2.865,0,0,0,1.812.915,2.033,2.033,0,0,0,1.579-.66l3.636-3.636a2.033,2.033,0,0,0,.66-1.578,2.865,2.865,0,0,0-.915-1.812,2.861,2.861,0,0,0-1.812-.915,2.034,2.034,0,0,0-1.579.659l-2.4,2.4a5.655,5.655,0,0,0-1.864-.434q-.138-.007-.276-.007a5.237,5.237,0,0,0-1.476.214A5.438,5.438,0,0,1,7.349,5.1l3.636-3.636A4.808,4.808,0,0,1,14.657,0a5.6,5.6,0,0,1,3.619,1.719A5.6,5.6,0,0,1,20,5.343a4.807,4.807,0,0,1-1.464,3.672L14.9,12.651a4.807,4.807,0,0,1-3.458,1.469Q11.331,14.119,11.223,14.114Z" fill="currentColor"/>
    </g>
  </svg>
{%- elsif name == 'twitter' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
    <title>Twitter</title>
    <g data-name="Group 2" transform="translate(0 -2)">
      <path data-name="" d="M17.93,4a2.257,2.257,0,0,1,.039.5A11.265,11.265,0,0,1,16.6,9.846a11.044,11.044,0,0,1-3.945,4.346A11.4,11.4,0,0,1,6.289,16,11.51,11.51,0,0,1,0,14.192q.43.038.977.038A8.213,8.213,0,0,0,6.094,12.5a3.855,3.855,0,0,1-2.4-.788A4.018,4.018,0,0,1,2.266,9.731q.391.038.742.038A5.285,5.285,0,0,0,4.1,9.654,4.143,4.143,0,0,1,1.758,8.231,3.836,3.836,0,0,1,.82,5.692V5.615a3.906,3.906,0,0,0,1.836.538A4.5,4.5,0,0,1,1.328,4.692,3.865,3.865,0,0,1,1.406.731a11.276,11.276,0,0,0,3.73,3A11.493,11.493,0,0,0,9.844,4.962a5.522,5.522,0,0,1-.078-.923A4.057,4.057,0,0,1,11.8.538,4.009,4.009,0,0,1,13.828,0a3.965,3.965,0,0,1,1.66.346,4.641,4.641,0,0,1,1.348.923A8.426,8.426,0,0,0,19.453.308a4.019,4.019,0,0,1-1.8,2.231A8.917,8.917,0,0,0,20,1.885,8.94,8.94,0,0,1,17.93,4Z" transform="translate(0 2)" fill="currentColor"/>
    </g>
  </svg>
{%- elsif name == 'email' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14.5" viewBox="0 0 20 14.5">
    <title>Email</title>
    <g data-name="Group 3" transform="translate(0 -2.75)">
      <path data-name="Combined Shape" d="M2.187,14.5a2.135,2.135,0,0,1-.875-.189L7.438,8.952l.219.183a3.725,3.725,0,0,0,4.688,0l.219-.176,6.125,5.352a2.137,2.137,0,0,1-.875.189ZM13.8,7.956,20,2.97v9.324a2.215,2.215,0,0,1-.2.908ZM0,12.294V2.951L6.2,7.956.2,13.2A2.215,2.215,0,0,1,0,12.294ZM8.631,7.88.75,1.538A.628.628,0,0,1,.719.58,2.172,2.172,0,0,1,2.187,0H17.812a2.148,2.148,0,0,1,1.481.624.634.634,0,0,1-.031.952l-7.894,6.3a2.173,2.173,0,0,1-2.737,0Z" transform="translate(0 2.75)" fill="currentColor"/>
    </g>
  </svg>
{%- elsif name == 'email' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="34" viewBox="0 0 40 34">
    <title>Email</title>
    <path data-name="“" d="M27.074,34l-1.707-.242L23.9,32.911,22.684,31.7l-.854-1.573-.609-1.452L20.61,27.1l-.244-2.662.122-2.3.365-1.694.366-1.815.365-1.573.366-1.452.609-1.815.854-1.331.609-1.572L25,9.075l.854-1.694,1.1-1.089.854-1.452,1.1-1.331L30.61,1.331,33.171.122,35.123.6l1.463,1.089,2.561,2.42L40,5.808l-.366,1.815-1.1,1.089-.976,1.694-.854,1.331L36.1,13.431l-.61,1.452L34.879,16.7l.365,2.178.976,1.814.854,1.211.365,1.452.488,1.694-.122,1.694-.366,1.815-.488,1.573-.732,1.21L35,32.427l-1.463.847L32.073,34ZM6.829,33.879l-1.707-.121L3.537,32.79,2.318,31.7.61,28.555.244,26.982,0,24.683l.122-2.662.365-1.694.244-1.452L.976,17.3,2.2,13.915l.976-1.573.61-1.573.732-1.694.853-1.452L6.341,6.17,7.439,4.6l1.1-1.211,1.83-1.936L12.805,0l2.8,1.089L17.561,2.9,18.9,4.234l.609,1.453-.365,1.936-.976,1.331L17.2,10.406l-.854,1.331-.488,1.694-.732,1.452L14.513,16.7l.365,1.936.854,2.178.976,1.331.488,1.452.488,1.573-.244,1.694L17.2,28.676l-.366,1.211-1.1,1.452-1.1.968-1.341.847-1.463.483L9.391,34Z" fill="currentColor"/>
  </svg>
{%- elsif name == 'play' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
    <title>Play Video</title>
    <path data-name="Fill 1 Copy" d="M20,40A20,20,0,0,1,5.858,5.858,20,20,0,0,1,34.142,34.142,19.869,19.869,0,0,1,20,40ZM15.834,11.667V27.5l12.5-7.917Z" fill="currentColor"></path>
  </svg>
{%- endif -%}
